*{
    box-sizing: border-box;
}

.sideNav {
    height: 100vh;
    width:7%;
    float: left;
    padding: 0;
}

.parentCont{
    float: left;
    height: 100%;
    width: 90%;
    display: block;
    overflow: auto;
}

.childCont{
    float: left;
    height: 100%;
    width: 100%;
    display: block;
}

.innerChildCont{
    float: left;
    height: 100%;
    width: 60%;
    display: block;
    padding:2rem;
}

.welcomeCont{
    background: linear-gradient(90deg, rgb(7, 113, 128), rgb(200, 237, 240),);
    height: 8rem;
    width: 100%;
}

.welcomeText{
    color:white;
    font-size:15px;
    margin-left: 7rem;
    padding-top:3.5rem;
}

.welcomeText1{
    color:white;
    font-size:13px;
    font-style: italic;
    margin: 0 0 0 7rem;
    padding:0;
   
}

.imgcont{
    float: left;
    height: 100%;
}

img{
    height: 90%;
    margin-left: 2rem;
}

.extra{
    height: 8rem;
    width: 100%;
    margin-top: 1rem;
}

.firstDiv{
    background-color: rgb(110, 139, 218);
    width: 33%;
    height: 80%;
    float: left;
    margin-top: 1rem;
}

.firstDiv p{
    color:white;
    margin-top:1rem;
    font-size: 13px;
    margin-left: 1rem;
}

.firstDiv:hover{
    transform: scale(1.1);
    border-radius: 20px;
}

.secondDiv{
    background-color:#FBC02D;
    width: 33%;
    height: 80%;
    float: left;
    margin-top: 1rem;
    color:white;
}

.secondDiv p{
    color:white;
    margin-top:1rem;
    font-size: 13px;
    margin-left: 1rem;
}

.secondDiv:hover{
    transform: scale(1.1);
    border-radius: 20px;
}
.thirdDiv{
    background-color: rgb(17, 85, 187);
    width: 33%;
    height: 80%;
    float: left;
    margin-top: 1rem;
    color:white;
}

.thirdDiv  p{
    color:white;
    margin-top:1rem;
    font-size: 13px;
    margin-left: 1rem;
}

.thirdDiv:hover{
    transform: scale(1.1);
    border-radius: 20px;
}

.extraCont{
    height: 18rem;
    display: block;
    margin-top: 2rem;
}

.secondChildCont{
    padding: 0;
    float: left;
    height: 90%;
    width: 40%;
}

.calendarCont{
    background: white;
    height: 35rem;
    width: 70%;
    margin-top: 2rem;
    margin-left: 3rem;
    padding: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .15);
}

.tipDiv{
    background: teal;
    padding-top: 20px;
    width: 100%;
    height:10%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color:white;
    text-align: center;
    margin: 0;
}

.nuggetDiv{
    padding: 25px;
    /* text-align: justify;
    text-justify: inter-word; */
    width: 100%;
    height:50%;
    margin: 0;
    
}

.calendarDiv{
    width: 100%;
    height: 35%;
}

.ptext{
    margin: 0;
    text-align: justify;
    text-justify: inter-word;
}

.pptext{
    color:white;
    text-align: center;
}


ul {
    width:100%;
    padding:0;
    margin: 0
  }
  
  ul li{
    width:100%;
    padding: 0;
    margin: 0;
    line-height: 40px;
    list-style-type: none;
  }
  
  ul li a{
    text-decoration:none;
    color:white;
  }