*{
    box-sizing: border-box;
}

.sideNav {
    background: linear-gradient(180deg, rgb(50, 5, 104), rgb(3, 0, 5),);
    height: 100vh;
    width:7%;
    float: left;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.parentCont{
    float: left;
    height: 100%;
    width: 90%;
    display: block;
    overflow: auto;
}

.childCont{
    float: left;
    height: 100%;
    width: 100%;
    display: block;
}

.innerChildCont{
    float: left;
    height: 100%;
    width: 60%;
    display: block;
    padding:2rem;
}

.welcomeCont{
    background: linear-gradient(90deg, rgb(79, 221, 240), rgb(225, 250, 252),);
    height: 8rem;
    width: 100%;
}

.extra{
    height: 8rem;
    width: 100%;
    margin-top: 1rem;
}

.firstDiv{
    background-color: rgb(110, 139, 218);
    width: 33%;
    height: 80%;
    float: left;
    margin-top: 1rem;
}

.secondDiv{
    background-color:#FBC02D;
    width: 33%;
    height: 80%;
    float: left;
    margin-top: 1rem;
}

.thirdDiv{
    background-color: rgb(58, 16, 68);
    width: 33%;
    height: 80%;
    float: left;
    margin-top: 1rem;
}

.extraCont{
    height: 18rem;
    display: block;
    margin-top: 2rem;
}

.secondChildCont{
    padding: 0;
    float: left;
    height: 90%;
    width: 40%;
}

.calendarCont{
    background: white;
    height: 35rem;
    width: 70%;
    margin-top: 2rem;
    margin-left: 3rem;
    padding: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .15);
}

.tipDiv{
    background: teal;
    width: 100%;
    height:10%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color:white;
    text-align: center;
}

.nuggetDiv{
    width: 100%;
    height:40%;
}

.calendarDiv{
    width: 100%;
    height: 40%;
}

.ptext{
    text-align: center;
}

.pptext{
    color:white;
    text-align: center;
}