.formfile{
    width:100%;
    height:4rem;
    padding: 1rem;
}

.card{
    width:100%;
    height:23rem;
    box-sizing: border-box;
}

.secondChildCont{
    width:100%;
    height:16rem;
    border: 1px solid teal;
    padding:0;
    overflow: hidden;
}

.secondChildCont img{
    width:100%;
    height:16rem;
    margin:0;
}

.btn{
    width:70%;
    height:4rem;
    margin: 0 auto;
    text-align: center;
}