@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.list ul{
   padding: 0;
   margin: 0;
   width: 100%;
}

.list ul li{
   padding: 0;
   margin: 0;
   width: 25%;
   float: left;
   list-style: none;
}

/* .tab{
   min-width: 5;
   margin-left: 11px;
   text-transform: none;
   font-size: 20px;
   font-weight: 100;
   font-family: cursive;
} */